  <!-- Ionic Core & Ionicons -->
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@8/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@8/dist/ionic/ionic.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js"></script>

  <!-- Aplikasi Utama -->
  <script src="https://bucket.daffadev.workers.dev/b7f3bc054fe14dde1ee2ca309c2d3106c1f149fe/ai/assets/js/mia-ai.js"></script>