  <!-- Ionic Core & Ionicons -->
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@8/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@8/dist/ionic/ionic.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js"></script>

  <!-- Aplikasi Utama -->
  <script src="https://bucket.daffadev.workers.dev/8bac1c1f9d1fa750fa333859134e936cd959f726/ai/assets/js/mia-ai.js"></script>